@model OdeToFood.ViewModels.IndexViewModel

<h1>@Model.MessageOfTheDay</h1>
<table>
    @foreach(var r in Model.Restaurants)
    {
        <tr>
            <td>@r.Id</td>
            <td>@r.Name</td>
            <td>
                <a href="home/details/@r.Id">Details (Anchor tag)</a>
                @Html.ActionLink("Go (Html.ActionLink)", "Details", new {Id = @r.Id})
                <a asp-action="Details" asp-route-id="@r.Id">More (tag helper)</a>
            </td>
        </tr>
    }
</table>
<a asp-action="Create">Add Restaurants</a>
