@model OdeToFood.ViewModels.IndexViewModel

<h1>@Model.MessageOfTheDay</h1>
<table>
    @foreach(var r in Model.Restaurants)
    {
        <tr>
            <td>@r.Id</td>
            <td>@r.Name</td>
            <td><a href="home/details/@r.Id">Details(Anchor tag)</a></td>
            <td>@Html.ActionLink("Go (Html.ActionLink)", "Details", new {Id = @r.Id})</td>
        </tr>
    }
</table>
